[Unit]
Description=EPICS SoftIoc for Robot PVs
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/stevek/ws
ExecStart=/usr/bin/bash -lc "softIoc -d /home/stevek/ws/db/robot.db"
Restart=on-failure
RestartSec=2

[Install]
WantedBy=robot-stack.target
