[Unit]
Description=UR3e Controller (ros2 control)
After=network-online.target robot-softioc.service
Wants=network-online.target robot-softioc.service

[Service]
Type=simple
WorkingDirectory=/home/stevek/ws
ExecStart=/usr/bin/bash -lc "source /opt/ros/humble/setup.bash source /opt/ros/humble/setup.bash &&source /opt/ros/humble/setup.bash && source /home/stevek/ws/install/setup.bash source /opt/ros/humble/setup.bash &&source /opt/ros/humble/setup.bash && ros2 launch ur3e_hande_robot_description ur_control.launch.py \\\n    ur_type:=ur3e \\\n    robot_ip:=192.168.5.10 \\\n    description_file:=ur_with_hande.xacro \\\n    runtime_config_package:=ur3e_hande_robot_description \\\n    controllers_file:=ur_hande_controllers.yaml \\\n    gripper_use_fake_hardware:=false \\\n    use_tool_communication:=true \\\n    tool_voltage:=24 \\\n    launch_rviz:=false"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=robot-stack.target
