[Desktop Entry]
Type=Application
Name=[4] Robot GUI
Comment=Start Robot Control GUI (start after EPICS Sequence)
Icon=utilities-terminal
Exec=bash -c 'if pgrep -f "robot_control_gui" > /dev/null; then zenity --warning --title="Robot GUI" --text="Robot GUI is already running." 2>/dev/null; else gnome-terminal --title="[4] Robot GUI - robot_control_gui" -- bash -c "source /opt/ros/humble/setup.bash && source /home/bl9b/ws/install/setup.bash && ros2 run robot_gui robot_control_gui; exec bash"; fi'
Terminal=false
Categories=Development;
